<header id="topnav" class="top">
  <div class="container">
    <a href="/">
      <img src="/assets/images/yogi.png" alt="yogi" class="logo">
    </a>
    <nav class="mainnav">
      <ul class="level0">
    <li class="dropdown">
      <a (click)="openSubMenuMobile($event)">Solutions</a>
    <ul>
      <li><a href="/product-development">Product Development</a></li>
      <li><a href="/software-support">Software Support</a></li>
      <li><a href="/mobile-automation">Web & Mobile Automation</a></li>
    </ul>   
    </li>
    <li><a href="/about-us">About Us</a></li>
    <li><a href="/contact-us">Contact Us</a></li>
    </ul>
    </nav>
    <button class="navbtn" (click)="openMenuMobile($event)">
      &#9776; Menu
    </button>        
  </div> 
</header>
<div class="container-body">
  <router-outlet></router-outlet>
</div>
<footer>
 <p>&copy; 2017 Yogi R Tech Inc. All rights reserved.</p> 
</footer> 