
header {
  border-bottom: 0.0625rem solid #c4acac;
}

.logo {
  height: 2rem;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}
.container {
  margin: 0 auto;
  width: 80%;
}

/* Color Themes - Variables */
.top {
  background: linear-gradient(90deg, #cfecd0, #ffc5ca);
  float: left;
  position: relative;
  width: 100%;
}

.container-body {
  display: block;
}

footer {
  display: block;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
  border-top: 1px solid #c4acac;
  p {
    font-weight: 300;
    font-size: 0.75rem;
  }
}

.logo {
  font-size: 1.3em;
  text-decoration: none;
  color: #1abc9c;
  margin: 15px 0  0px 0;
  float: left;
}

.top .navbtn {
  display: none;
  float: right;
  margin: 5px 10px 0 0;
  overflow: hidden;
  padding: 5px;
  color: #333;
  border-radius: 5px;
  text-decoration: none;
  border: none;
  background: transparent;
}

.mainnav {
  float: right;
  z-index: 1001;
}
.mainnav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainnav > ul.level0 > li {
  display: block;
  float: left;
  font-size: 14px;
  margin-right: 4px;
}
.mainnav > ul.level0 > li > a {
  display: block;
  text-decoration: none;
  line-height: 50px;
  color: #666;
  padding: 0 10px;
  position: relative;
}
.mainnav > ul.level0 > li > a:hover {
  color: #333;
  background: #eee;
}

/*nav dropdown*/
.mainnav > ul.level0 > li.dropdown a {
  padding-right: 30px;
}
.mainnav > ul.level0 > li.dropdown > a:after {
  content: "";
  position: absolute;
  top: 24px;
  right: 10px;
  margin-left: -5px;
  border-top: 5px solid black;
  border-top-color: #1abc9c;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  z-index: 1;
}

.mainnav ul.level0 > li ul {
  position: absolute;
  top: 52px;
  display: none;
  z-index: 1001;
}
.mainnav ul.level0 > li ul li a {
  text-decoration: none;
  background: #fb7575;
  padding: 5px 10px;
  color: #fff;
  line-height: 30px;
  min-width: 100px;
  display: block;
}
.mainnav ul.level0 > li ul li a:hover {
  background: #eee;
  color: black;
}

.mainnav ul li.dropdown:hover > a {
  color: #333;
  background: #eee;
  border-bottom-color: #eee;
}
.mainnav ul li.dropdown:hover ul {
  display: block;
}

/* responsive styles */
@media screen and (max-width: 560px) {
  .container {
    width: 100%;
  }

  .logo {
    margin: 10px;
  }

  h2 {
    font-size: 2.2em;
  }

  p {
    font-size: 1.45em;
    line-height: 1.55em;
  }

  .top {
    height: auto;
    top: 0;
  }

  .mainnav {
    display: none;
    position: static;
    width: 100%;
    top: auto;
    right: auto;
  }

  .mainnav ul.level0 > li {
    float: none;
    margin: 0;
  }

  .mainnav ul.level0 > li > a {
    width: 100%;
    line-height: 1.4em;
    padding: 6px 9px;
    background: #e6e6e6;
    border-bottom: 1px solid #ddd;
  }

  .mainnav ul.level0 > li > a:hover {
    background: #ccc;
    border-bottom: 1px solid #ddd;
  }

  .mainnav ul li a.sel {
    color: #fff;
    background: #333;
  }
  .mainnav ul li a.sel:hover {
    background: #333;
    color: #fff;
  }

  .mainnav ul.level0 > li > a:hover:after {
    border-top: 0px solid black;
  }

  .mainnav > ul.level0 > li.dropdown {
    position: relative;
  }
  .mainnav > ul.level0 > li.dropdown:after {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    margin-left: -5px;
    border-top: 5px solid black;
    border-top-color: #1abc9c;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    z-index: 1;
  }
  .mainnav > ul.level0 > li.dropdown ul {
    display: none;
    position: static;
  }

  .top .navbtn {
    display: block;
  }
}
