<section class="hero">
    <div class="container">
        <div class="col-md-12">
            <h1>
                One Stop Solution for All Your Offshore Business Needs
            </h1>

            <p class="tagline">
                We Build, Maintain & Automate Web and Mobile Applications
            </p>
            <a class="btn btn-full get-start" href="#features">Get Started Now</a>
        </div>
    </div>
</section>

<section class="features" id="features">
  <div class="wrapper">
    <h2 class="section__title">We Build, Maintain & Automate Web and Mobile Applications</h2>
    <p class="section__intro">
     Our Vision:
        Be The Change You want to see in the world
    </p>
    <div class="box__grid">
      <article class="box"><a class="box__content" routerLink="/product-development"><i class="fa fa-lightbulb-o fa-3x"></i>
          <h3 class="box__title">Production Development</h3>
          <p>Full Stack and Mobile Product Development.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
      <article class="box"><a class="box__content" routerLink="/software-support"><i class="fa fa-code fa-3x"></i>
          <h3 class="box__title">Software Support</h3>
          <p> Software Maintenance, Level1 & Level2 support.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
      <article class="box"><a class="box__content" routerLink="/mobile-automation"><i class="fa fa-mobile fa-3x"></i>
          <h3 class="box__title">Web & Mobile Automation</h3>
          <p> Desktop / Mobile Web, iOS and Android Automation Solutions.</p><span class="box__more">Read more <i class="fa fa-arrow-right"></i></span></a></article>
    </div>
  </div>
</section>